#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#userSelection {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 0.1rm;
  height: 10em;
}

.selectionOption {
  width: 25%;
  background-color: darkgrey;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
